/* ==========================================================================
 * Global
 * ========================================================================== */

@import "settings";
@import "reset";
@import "mixins";

body {
  align-content: center;
  background-color: $color--primary;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
