/* ==========================================================================
 * Colors
 * ========================================================================== */

$blue--100: #fafdff;
$blue--200: #b3e8ff;
$blue--300: #0dadf2;
$blue--400: #005c99;
$blue--500: #002e4d;
$blue--600: #010509;

$color--primary: #3f00bb;
