/* ==========================================================================
 * Layout
 * ========================================================================== */

$layout--sm: 4rem;
$layout--md: 6rem;
$layout--lg: 8rem;
$layout--xl: 10rem;
