/* ==========================================================================
 * Clearfix
 * ========================================================================== */

@define-mixin jm-m-clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
